/* styles used in netflow page */


#content-container #general-stats {
    width: 100%;
    height: calc(55% - 5px);
    min-height: 420px;
    display: flex;
    flex-wrap: wrap;
}

#content-container #collector-list {
    width: calc(100% / 3 - 5px);
    height: calc(45% - 5px);
    min-width: 400px;
    min-height: 300px;
    flex-direction: column;
}

#content-container #collector-info {
    width: calc(100% / 3 * 2 - 5px);
    height: calc(45% - 5px);
    min-height: 300px;
    min-width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/* collectors list section */
#collector-list #collectors {
    width: 100%;
    height: calc(100% - 45px);
    overflow-y: scroll;
}

#collectors .container {
    width: calc(100% - 20px);
    height: 40px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}

/* .container .more-info {
    width: 85px;
    height: calc(100% - 4px);
    border: 2px solid #5F27CD;
    background-color: #fff;
    color: #5F27CD;
    margin-left: auto;
    transition: .3s;
}

.container .more-info:hover {
    background-color: #5F27CD;
    color: #fff;
    opacity: 1;
} */

.container .status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: black;
}

.status-icon.active {
    background-color: #4CD137;
}

.status-icon.inactive {
    background-color: #C23616;
}

.status-icon.outer {
    width: 30px;
    height: 30px;
}

.status-icon.divider {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #fff;
}

.status-icon.inner {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}


#collector-list #add-device {
    width: calc(100% - 10px);
    height: 35px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

/* collector info section */
#collector-info #general-info, #collector-info #flow-info, #collector-info #activity-log {
    width: calc(100% - 40px);
    height: auto;
    padding: 5px 20px 5px 20px;
    background: ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-section .item {
    width: calc(50% - 20px);
    height: 30px;
    height: auto;
    background: ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info-section .item p {
    width: auto;
    height: auto;
    padding: 0;
    margin-left: auto;
}

.info-section .item input {
    width: calc(65% - 10px);
    height: 25px;
    margin-left: 10px;
    text-align: center;
}

#general-info .item #status {
    width: calc(65% - 10px - 4px);
    height: calc(100% - 8px);
    margin-left: 10px;
    background: #fff;
    padding: 2px 5px 2px 5px;
    border: 2px solid #000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand-Bold;
}

#general-info .item #status.active {
    border-color: #4CD137;
    color: #4CD137;
}

#general-info .item #status.inactive {
    border-color: #C23616;
    color: #C23616;
}

#collector-info #general-info button {
    width: calc(50% - 10px);
    height: 35px;
}

#collector-info #general-info #apply-changes {

}

#collector-info #general-info #delete-collector {
    background-color: #000;
    margin-left: 10px;
}

#flow-info #delete-flows {
    width: 100%;
    height: 35px;
    background-color: #000;
}

#flow-info #activity-log {
    height: auto;
}

#activity-log #log-container {
    width: 100%;
    height: auto;
    background: #F4F4F4;
    margin-bottom: 10px;
}

#activity-log #log-container .activity {
    width: calc(100% - 4px);
    height: auto;
    min-height: 30px;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
}

.activity h3 {
    width: calc(25% - 10px);
    display: flex;
    justify-content: flex-end;
}

.activity p {
    width: calc(75% - 20px);
    text-align: left;
    justify-content: flex-start;
}

/* general stats section */

#general-stats #graph, #general-stats #stats {
    height: calc(100% - 60px - 15px);
    padding: 5px 10px 10px 10px;
}
#general-stats #graph {
    width: calc(80% - 20px);
    background-color: red;
}

#general-stats #graph #line-graph {
    width: 100%;
    height: 100%;
    background: green;
}

#general-stats #stats {
    width: calc(20% - 20px);
    min-width: 250px;
    background: blue;
}
