<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles/analysis.css")}}'>
        <link rel="stylesheet" type="text/css" href='{{url_for("static", filename="styles/shared.css")}}'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='{{ url_for("static", filename="scripts/libraries/canvasjs-non-commercial-2.3.1/canvasjs.min.js")}}'></script>
        <script src='{{ url_for("static", filename="scripts/analysis/thresholds.js")}}'></script>
        <script src='{{ url_for("static", filename="scripts/analysis/visualizations.js")}}'></script>
        <script src='{{ url_for("static", filename="scripts/analysis/main.js")}}'></script>

        <title>NetFlow Analysis</title>
        <script type="text/javascript">
            var threshold_info = {{ threshold_info|tojson }};
        </script>
    </head>
    <body>
        <!-- menu-bar: START -->
        <div id="main-menu-container" class="hidden">
            <div id="nav-menu">
                <!-- NOTE: images where set to transparent icons and solid bgs so that they're colour
                            could be controlled with css and match transitions without the need for extra Js -->
                <div id="home" class="item">
                    '{{url_for("static", filename="images/.png")}}'
                    <img src='{{url_for("static", filename="images/home.png")}}' alt="" id="home_icon" class="icon">
                    <h1 class="label">Home</h1>
                </div>
                <a href="/analysis">
                    <div id="analysis" class="item active">
                        <img src='{{url_for("static", filename="images/analysis.png")}}' alt="" id="analysis_icon" class="icon">
                        <h1 class="label">Analysis</h1>
                    </div>
                </a>
                <a href="/netflow">
                    <div id="netflow" class="item">
                        <img src='{{url_for("static", filename="images/netflow.png")}}' alt="" id="netflow_icon" class="icon">
                        <h1 class="label">NetFlow</h1>
                    </div>
                </a>
                <div id="classifier" class="item">
                    <img src='{{url_for("static", filename="images/classification.png")}}' alt="" id="classifier_icon" class="icon">
                    <h1 class="label">Classifier</h1>
                </div>
                <div id="settings" class="item">
                    <img src='{{url_for("static", filename="images/settings.png")}}' alt="" id="settings_icon" class="icon">
                    <h1 class="label">Settings</h1>
                </div>
            </div>
        </div>
        </div>
        <!-- menu-bar: END -->
        <div id="content-container">
            <div id="visualization" class="section">
                <h1 class="section-title">NetFlow Visualizations</h1>
                <div id="visualization-area">

                </div>
            </div>
            <div id="visualization-setup" class="section">
                <h1 class="section-title">Visualization Setup</h1>
                <select id="mode" name="">
                    <option value="1">Src IP Address Freq.</option>
                    <option value="2">Dest IP Address Freq.</option>
                    <option value="3">Source Ports</option>
                    <option value="4">Dest Ports</option>
                    <option value="5">Average Bytes src-ip</option>
                    <option value="6">Average Bytes dest-ip</option>
                </select>
            </div>
            <div id="thresholds-list" class="section">
                <h1 class="">Thresholds</h1>
                <div id="list">
                    {% for threshold in threshold_info %}
                    <div class="item">
                        <p>{{ threshold.name }}</p>
                        <button name="" class="more-info" id="{{ threshold._id }}">More Info</button>
                    </div>
                    {% endfor %}
                </div>
                <button name="" id="add-threshold">Add Threshold</button>
            </div>
        </div>
        <div id="overlay" class="hideMe"></div>
        <div id="add-threshold-popup" class="hideMe">
            <div id="content">
                <h1 class="section-title">Threshold Info</h1>
                <input type="text" name="name" value="" class="half left" placeholder="Threshold Name">
                <select class="half" name="collectors">
                    {% for c in collectors %}
                    <option value="{{ c._id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="src-ip" value="" class="half left" placeholder="Soure IP Address" title="Source IP Address">
                <input type="text" name="dest-ip" value="" class="half" placeholder="Dest. Ip Address" title="Dest. Ip Address">
                <input type="text" name="src-mac" value="" class="half left" placeholder="Source Mac" title="Source Mac">
                <input type="text" name="dest-mac" value="" class="half" placeholder="Dest. Mac" title="Dest. Mac">
                <input type="text" name="src-port" value="" class="half left" placeholder="Source Port" title="Soure Port">
                <input type="text" name="dest-port" value="" class="half" placeholder="Dest. Port" title="Dest. Port">
                <input type="text" name="src-vlan" value="" class="half left" placeholder="Source VLAN" title="Source VLAN">
                <input type="text" name="dest-vlan" value="" class="half" placeholder="Dest. VLAN" title="Dest. VLAN">
                <h2>Direction</h2>
                <select class="full" title="Direction" name="direction">
                    <option value=""></option>
                    <option value="ingress">ingress</option>
                    <option value="egress">egress</option>
                </select>
                <h2>Ammount of Bytes in Flow</h2>
                <input type="text" name="min-bytes" value="" class="half left" placeholder="Minimmum" title="Minimmum">
                <input type="text" name="max-bytes" value="" class="half" placeholder="Maximum" title="Maximum">
                <h2>Packet Count</h2>
                <input type="text" name="min-packet-count" value="" class="half left" placeholder="Minimmum" title="Minimmum">
                <input type="text" name="max-packet-count" value="" class="half" placeholder="Maximum" title="Maximum">
                <!-- <h2>TCP Flags</h2>
                <select class="full" title="Direction" name="flags">
                    <option value="syn">SYN</option>
                    <option value="rst">RST</option>
                    <option value="ack">ACK</option>
                    <option value="fin">FIN</option>
                </select> -->
                <h2>Next Hop Address</h2>
                <input type="text" name="next-hop" value="" class="full" placeholder="IP Address" title="IP Address">
                <button name="" id="apply">Apply</button>
                <button name="" id="delete">DELETE</button>
                <button name="" id="hide-popup">cancel</button>
            </div>
        </div>
    </body>
</html>
