<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href='{{url_for("static", filename="styles/shared.css")}}'>
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles/netflow.css")}}'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='{{ url_for("static", filename="scripts/libraries/canvasjs-non-commercial-2.3.1/canvasjs.min.js")}}'></script>
        <!-- <script src='{{ url_for("static", filename="scripts/netflow/back-end.js")}}'></script> -->
        <script src='{{ url_for("static", filename="scripts/netflow/graph.js")}}'></script>
        <script src='{{ url_for("static", filename="scripts/netflow/netflow-collectors.js")}}'></script>
        <script src='{{ url_for("static", filename="scripts/netflow/main.js")}}'></script>

        <title>NetFlow Collectors</title>
        <script type="text/javascript">
            var collectorNames = {{ collector_names|tojson }};
            var collectorIds = {{ collector_ids|tojson }};
        </script>
    </head>
    <body>
        <!-- menu-bar: START -->
        <div id="main-menu-container" class="hidden">
            <div id="nav-menu">
                <!-- NOTE: images where set to transparent icons and solid bgs so that they're colour
                            could be controlled with css and match transitions without the need for extra Js -->
                <div id="home" class="item">
                    '{{url_for("static", filename="images/.png")}}'
                    <img src='{{url_for("static", filename="images/home.png")}}' alt="" id="home_icon" class="icon">
                    <h1 class="label">Home</h1>
                </div>
                <a href="/analysis">
                    <div id="analysis" class="item">
                        <img src='{{url_for("static", filename="images/analysis.png")}}' alt="" id="analysis_icon" class="icon">
                        <h1 class="label">Analysis</h1>
                    </div>
                </a>
                <a href="/netflow">
                    <div id="netflow" class="item active">
                        <img src='{{url_for("static", filename="images/netflow.png")}}' alt="" id="netflow_icon" class="icon">
                        <h1 class="label">NetFlow</h1>
                    </div>
                </a>
                <div id="classifier" class="item">
                    <img src='{{url_for("static", filename="images/classification.png")}}' alt="" id="classifier_icon" class="icon">
                    <h1 class="label">Classifier</h1>
                </div>
                <div id="settings" class="item">
                    <img src='{{url_for("static", filename="images/settings.png")}}' alt="" id="settings_icon" class="icon">
                    <h1 class="label">Settings</h1>
                </div>
            </div>
        </div>
        <!-- menu-bar: END -->
        <div id="content-container">
            <div id="general-stats" class="section">
                <h1 class="section-title">Overview of NetFlow Traffic Collectors</h1>
                <div id="graph">
                    <div id="incoming-flow-chart"></div>
                </div>
                <div id="stats">

                </div>
            </div>
            <div id="collector-list" class="section">
                <div id="collectors">
                    <h1 class="section-title">Collectors</h1>
                    {% for collector in collector_info %}
                    <div class="container" id="{{ collector.id }}">
                        {% if collector.status == "active" %}
                        <div class="status-icon outer active">
                            <div class="status-icon divider">
                                <div class="status-icon inner active"></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="status-icon outer inactive">
                            <div class="status-icon divider">
                                <div class="status-icon inner inactive"></div>
                            </div>
                        </div>
                        {% endif %}
                        <p class="collector-name">{{ collector.name }}</p>
                        <button class="more-info" collector_id="{{ collector.id }}">More Info</button>
                    </div>
                    {% endfor %}
                </div>
                <button name="" id="add-device">Add Device</button>
            </div>
            <div id="collector-info" class="section">
                <h1 class="section-title">Collector Information</h1>
                <div id="general-info" class="info-section">
                    <div class="item">
                        <p>Name: </p>
                        <input id="info_name" type="text" name="" disabled>
                    </div>
                    <div class="item">
                        <p>Port Number: </p>
                        <input id="info_port" type="text" name="" disabled>
                    </div>
                    <div class="item">
                        <p>IP Address: </p>
                        <input id="info_ip" type="text" name="" disabled>
                    </div>
                    <div class="item" id="collect_status">
                        <p>Status: </p>
                        <div id="info_status" class="status">

                        </div>
                    </div>
                    <!-- <button name="" id="apply-changes">Apply Changes</button> -->
                    <button name="" id="delete-collector">DELETE</button>
                </div>
                <div id="flow-info" class="info-section">
                    <h2 class="sub-section-title">Flow Information</h2>
                    <div class="item">
                        <p>No. of Flows: </p>
                        <input type="text" id="flow_number" name="" disabled>
                    </div>
                    <div class="item">
                        <p>Storage Used: </p>
                        <input type="text" name="" disabled>
                    </div>
                    <div class="item">
                        <p>Incoming Rate: </p>
                        <input type="text" name="">
                    </div>
                    <div class="item">
                        <p>Archieve Flows: </p>
                        <input type="text" name="">
                    </div>
                    <button name="" id="delete-flows">Delete Archieved Flows</button>
                </div>
                <div id="activity-log">
                    <h2 class="sub-section-title">Activity Log</h2>
                    <div id="log-container">
                        <div class="activity">
                            <h3>[STATUS CHANGE]</h3>
                            <p>Collector is now inactive - 12:28 26/03/2019</p>
                        </div>
                        <div class="activity">
                            <h3>[FLOW ARCHIEVE]</h3>
                            <p>Disabled Flow Archieve - 12:28 26/03/2019</p>
                        </div>
                        <div class="activity">
                            <h3>[ALERT]</h3>
                            <p>threshold "Unknown - potental malicous" has been breached</p>
                        </div>
                        <div class="activity">
                            <h3>[STATUS CHANGE]</h3>
                            <p>Collector is now active - 12:28 26/03/2019</p>
                        </div>
                        <div class="activity">
                            <h3>[ALERT]</h3>
                            <p>threshold "Unknown - potental malicous" has been breached</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay" class="new-device-popup hideMe"></div>
        <div id="add-device-popup" class="new-device-popup hideMe">
            <div id="content">
                <h1>Add Device</h1>
                <input type="text" id="name" name="" placeholder="Collector Name">
                <input type="text" id="ip" name="" placeholder="IP Address">
                <input type="text" id="port" name="" placeholder="Port Number">
                <button name="" id="add">Create Collector</button>
                <button type="close" id="close" name="button">Cancel</button>
            </div>
        </div>
    </body>
</html>
