#content-container #thresholds-list {
    width: calc(100% / 3 - 20px);
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#content-container #visualization, #content-container #visualization-setup {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

#content-container #visualization {
    width: calc(100% * (2/3) - 10px);
}

#content-container #visualization-setup {
    width: calc(100% * (1/3));
    overflow-y: scroll;
}

/* thresholds list */
#thresholds-list #list {
    width: 100%;
    height: calc(100% - 30px - 40px - 5px);
    background: ;
    margin-bottom: 5px;
    overflow-y: scroll;
}

#thresholds-list #add-threshold {
    width: 100%;
    height: 30px;
}

#thresholds-list #list .item {
    width: calc(100% - 20px);
    height: 40px;
    background: ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 5px 10px 5px 10px;
}

/* threshold-popup */
#overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 3;
    opacity: 0.5;
}

#add-threshold-popup {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 4;
    justify-content: center;
    align-items: center;
}

#add-threshold-popup #content {
    width: 500px;
    height: 400px;
    background: #fff;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#add-threshold-popup #content #delete, #add-threshold-popup #content #hide-popup {
    background: #000;
}

#add-threshold-popup #content button {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

#add-threshold-popup #content h1{
    padding: 0;
}

#add-threshold-popup #content h2{
    width: 100%;
}

#add-threshold-popup #content input,  #add-threshold-popup #content select{
    height: 25px;
    margin-bottom: 5px;
    text-align: center;
}

#add-threshold-popup #content input.half, #add-threshold-popup #content select.half {
    width: calc(100% / 2 - 15px);
}

#add-threshold-popup #content input.left,#add-threshold-popup #content select.left {
    margin-right: 10px;
}

#add-threshold-popup #content input.full, #add-threshold-popup #content select.full {
    width: 100%;
}

/* visualization section */
#visualization-setup #mode {
    width: calc(100% - 20px);
    height: 30px;
    padding: 0 10px 0 10px;
}

#visualization-area {
    width: 100%;
    height: calc(100% - 60px);
}
