/* styles shared over pages, e.g. menu, fonts, etc. */
@font-face {
    font-family: "Quicksand-Regular";
    src: url("fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("fonts/Quicksand-Medium.ttf");
}


* {
    padding: 0;
    margin: 0;
}

body {
    background: #EBEBEB;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    height: 40px;
    font-family: Quicksand-Bold;
    color: #000;
    display: flex;
    align-items: center;
}

h1.section-title {
    width: calc(100% - 35px);
    padding: 10px;
    padding-left: 25px;
    font-size: 30px;
}

h2.sub-section-title {
    width: calc(100% - 30px);
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: 25px;
}

h3 {
    height: auto;
    padding: 5px;
}

p {
    font-family: Quicksand-Medium;
    font-size: 20px;
    color: #000;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    background-color: #F4F4F4;
    border: 0;
    padding: 2px 5px 2px 5px;
    font-family: Quicksand-Regular;
    font-size: 15px;
    color: #000;
}

input[type="text"]:focus {
    border: 0;
    outline: 0;
}

button {
    border-radius: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E50021;
    color: #fff;
    font-family: Quicksand-Bold;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    opacity: 0.7;
}

button:enabled {
    outline: 0;
}

select {
    outline: 0;
    border: 0;
    border-radius: 0;
    background-color: #F4F4F4;
    padding: 2px 5px 2px 5px;
    font-family: Quicksand-Regular;
    font-size: 15px;
    color: #000;
}

.hideMe {
    display: none !important;
}

#main-menu-container {
    width: 35px;
    height: calc(100% - 16px);
    background: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 8px;
    z-index: 2;
    transition: .2s;

    /* adding delay stops menu shutting the second user moves mouse off,
       making it less annoying if they accidentally leave menu, as they
       don't have to wait for it to repon.
       setting delay in normal state means its applied after a hover,
       e.g. menu won't close for 0.3s */
    transition-delay: 0.3s;
}

#main-menu-container > #nav-menu {
    font-size: 0px;
}

#main-menu-container:hover {
    width: 155px;
    transition-delay: 0s;
}

#main-menu-container:hover > #nav-menu {
    font-size: 22px;
}

#main-menu-container:hover > #nav-menu .item .label {
    transition-delay: 0s;
}

#main-menu-container #alert-section {
    height: calc(25% - 15px);
    background: red;
    margin-bottom: 15px;
}

#main-menu-container #nav-menu {
    height: 250px;
    display: flex;
    flex-direction: column;
}

/* navigation icons/menu */

/* NOTE: notes for exectuion, put font-size in .item so that
         it can be controlled when shown/hidden */
/* #main-menu-container > .nav-menu .item{
    font-size: 25px;
} */
#nav-menu .item {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#nav-menu .item:hover > .label,  #nav-menu .item.active > .label{
    color: #E50021;
}

#nav-menu .item:hover > .icon, #nav-menu .item.active > .icon {
    background-color: #E50021;
}


#nav-menu .item .icon {
    width: 30px;
    height: 30px;
    background: #fff;
    transition: .2s;
}

#nav-menu .item .label {
    width: calc(100% - 50px);
    height: 100%;
    font-size: inherit;
    color: #fff;
    display: flex;
    align-content: center;
    margin-left: 15px;
    transition: color .2s, font-size 0.2s 0.25s;
}

/* content container */
#content-container {
    width: calc(100% - 51px - 5px);
    min-height: calc(100% - 5px);
    height: calc(100% - 5px);
    background: #EBEBEB;
    position: absolute;
    z-index: 1;
    margin-left: 51px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 2.5px;
}

#content-container .section {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 2.5px;
}

.more-info {
    width: 85px;
    height: calc(100% - 4px);
    border: 2px solid #5F27CD;
    background-color: #fff;
    color: #5F27CD;
    margin-left: auto;
    transition: .3s;
}

.more-info:hover {
    background-color: #5F27CD;
    color: #fff;
    opacity: 1;
}

.hideMe {
    display: none !important;
}
